{% extends 'base.html.twig' %}
{% block carousel%} {% endblock %}

{% block content %}
 <!-- Three columns of text below the carousel -->

 <h3>Nos Best seller </h3>
 <p>Découvrez les livres les plus vendus</p>
    <div class="row">
    
    {% for product in products %}
        <div class="col-md-3">
        {% include "product/single_product.html.twig" %}
        </div>

    {% endfor %}

    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-4">
        <h2 class="featurette-heading fw-normal lh-1">On a jamais assez de livres</h2>
        <p class="lead">Quel que soit votre univers, les nouveautés en livre vont venir étoffer votre bibliothèque.</p>
      </div>
      <div class="col-md-8">
        <img src="{{ asset('assets/img/biblio.jpg')}}" class="img-fluid" style="width: 100%; height: auto;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-4 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Meilleur évasion!</h2>
        <p class="lead">Y'a pas mieux qu'un bon livre et une tasse de café</p>
      </div>
      <div class="col-md-8 order-md-1">
        <img src="{{ asset('assets/img/livre&cafe.jpg')}}" class="img-fluid" style="width:100%; height:auto;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-4">
        <h2 class="featurette-heading fw-normal lh-1">Partagez votre passion</h2>
        <p class="lead">une communauté de partage et de discussion.</p>
      </div>
      <div class="col-md-8">
         <img src="{{ asset('assets/img/club.jpg')}}" class="img-fluid" style="width:100%; height:80%;">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

{% endblock %}