{% extends 'base.html.twig' %}

{% block title %}Qui Sommes Nous! - Mon Livre!{% endblock %}

{% block stylesheets %}
  <style>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  </style>
{% endblock %}


{% block content %}

<div style="font-family: 'Dancing Script', cursive; text-align: justify;">

<h1 style="text-align: center;">Bienvenue chez Mon Livre - Votre Porte vers l'Imagination !</h1> <br><br>

<p style="font-size: 30px">
Chez Mon Livre, nous croyons en la magie intemporelle des mots, en ces histoires qui prennent vie entre les pages, transportant les lecteurs vers des mondes inexplorés et des émotions profondes.<br>
 C'est une promesse de qualité et d'excellence où chaque livre a été choisi avec soin pour sa puissance narrative, son intrigue captivante et sa capacité à vous transporter loin de votre quotidien.<br><br>
 
Nous avons conçu Mon Livre pour être bien plus qu'une simple librairie en ligne ; c'est un univers dédié aux échanges littéraires, un véritable havre où les passionnés trouvent refuge. <br>
C'est un lieu où les lectures se partagent et se vivent ensemble, créant ainsi un foyer chaleureux pour tous ceux qui sont animés par la passion des livres. <br><br>

Rejoignez-nous dans notre monde de découvertes, de rêves et d'imagination sans limites.</p> <br> <br>
  
</div>
     
        
{% endblock %}
